/* Remove browser settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Webfonts */
/* righteous-regular - latin */
@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/righteous-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Righteous"), local("Righteous-Regular"),
    url("../fonts/righteous-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/righteous-v6-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/righteous-v6-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/righteous-v6-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/righteous-v6-latin-regular.svg#Righteous") format("svg"); /* Legacy iOS */
}
body {
  background: #111;
}
header {
  width: 95%;
  margin: 0 auto;
  background-color: black;
  text-align: center;
}
h1 {
  font-size: 36pt;
  font-family: "Righteous";
  color: white;
}
main {
  background-image: url("../images/jason-leung-537357-unsplash.jpg");
  background-size: cover;
  height: 75vw;
}
section {
  background-color: rgba(255, 255, 255, 0.6);
  width: 85%;
  padding: 5%;
  margin: 0 auto;
  position: relative;
  top: 5vh;
}
input,
select {
  display: inline-block;
  width: 45%;
  padding: 10px;
  font-size: 14pt;
  margin-bottom: 15px;
}
select {
  color: #222;
}
button {
  padding: 5px;
  background-color: green;
  border: 2px solid yellowgreen;
  font-size: 20pt;
}
#err-money,
#err-rate {
  color: red;
  font-weight: bold;
  font-size: 20pt;
}
.first,
.second {
  font-size: 18pt;
}
.first {
  width: 65%;
  display: inline-block;
}
.second {
  width: 20%;
  display: inline-block;
  text-align: right;
}
p {
  margin-bottom: 10px;
}
@media all and (max-width: 800pt) {
  p,
  #err-money,
  #err-rate,
  input,
  select {
    display: block;
    width: 90%;
  }
}
@media all and (max-width: 500px) {
  main {
    background-repeat: repeat;
  }
  section {
    position: relative;
    top: 1px;
  }
}
